.khan__buy-link {
    position: absolute;
    left: 656px;
    bottom: 590px;
    z-index: 1;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #2f80ed;

    text-decoration: none;
}

.khan__buy-link:hover {
    opacity: 0.6;
    transition: opacity 0.3s linear 0;
} 